In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Import library

In [2]:
!pip install --upgrade matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.2.2)
Collecting matplotlib
  Downloading matplotlib-3.6.2-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (9.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.4/9.4 MB 10.8 MB/s eta 0:00:00
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 965.4/965.4 KB 18.0 MB/s eta 0:00:00
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (21.3)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.6-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (295 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.0/296.0 KB 18.4 MB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (7.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)
Installing collected packages: fonttools, contourpy, matplotlib
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
Successfully installed contourpy-1.0.6 fonttools-4.38.0 matplotlib-3.6.2

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_palette("Set3")
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import os

#Read dataset

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Covid Data.csv')

In [5]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

#Data preprocessing

In [7]:
df = df[(df.PNEUMONIA == 1) | (df.PNEUMONIA == 2)]
df = df[(df.DIABETES == 1) | (df.DIABETES == 2)]
df = df[(df.COPD == 1) | (df.COPD == 2)]
df = df[(df.ASTHMA == 1) | (df.ASTHMA == 2)]
df = df[(df.INMSUPR == 1) | (df.INMSUPR == 2)]
df = df[(df.HIPERTENSION == 1) | (df.HIPERTENSION == 2)]
df = df[(df.OTHER_DISEASE == 1) | (df.OTHER_DISEASE == 2)]
df = df[(df.CARDIOVASCULAR == 1) | (df.CARDIOVASCULAR == 2)]
df = df[(df.OBESITY == 1) | (df.OBESITY == 2)]
df = df[(df.RENAL_CHRONIC == 1) | (df.RENAL_CHRONIC == 2)]
df = df[(df.TOBACCO == 1) | (df.TOBACCO == 2)]

In [8]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [9]:
#Convert null data to 2 in pregnant
df.PREGNANT = df.PREGNANT.replace(98, 2)
df.PREGNANT = df.PREGNANT.replace(97, 2)


#INTUBED Variable has so many null values. We delete it
df.drop("INTUBED", axis = 1, inplace = True)
df.drop("ICU", axis = 1, inplace = True)
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,2,1,1,1,03/05/2020,1,65,2,2,2,2,2,1,2,2,2,2,2,3
1,2,1,2,1,03/06/2020,1,72,2,2,2,2,2,1,2,2,1,1,2,5
2,2,1,2,2,09/06/2020,2,55,2,1,2,2,2,2,2,2,2,2,2,3
3,2,1,1,1,12/06/2020,2,53,2,2,2,2,2,2,2,2,2,2,2,7
4,2,1,2,1,21/06/2020,2,68,2,1,2,2,2,1,2,2,2,2,2,3

In [10]:
df.CLASIFFICATION_FINAL.value_counts()

7    490123
3    378629
6    117756
5     25305
1      8448
4      3090
2      1801
Name: CLASIFFICATION_FINAL, dtype: int64

In [11]:
#1,2,3 means you have covid, 4,5,6,7 means not, so i convert 1,2,3 to 1 and 4,5,6,7 to 2.
df.CLASIFFICATION_FINAL = df.CLASIFFICATION_FINAL.replace([1,2,3], 1)
df.CLASIFFICATION_FINAL = df.CLASIFFICATION_FINAL.replace([4,5,6,7], 2)

In [12]:
df.CLASIFFICATION_FINAL.value_counts()

2    636274
1    388878
Name: CLASIFFICATION_FINAL, dtype: int64

In [13]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,2,1,1,1,03/05/2020,1,65,2,2,2,2,2,1,2,2,2,2,2,1
1,2,1,2,1,03/06/2020,1,72,2,2,2,2,2,1,2,2,1,1,2,2
2,2,1,2,2,09/06/2020,2,55,2,1,2,2,2,2,2,2,2,2,2,1
3,2,1,1,1,12/06/2020,2,53,2,2,2,2,2,2,2,2,2,2,2,2
4,2,1,2,1,21/06/2020,2,68,2,1,2,2,2,1,2,2,2,2,2,1

In [14]:
plt.figure(figsize = (10,8))
ax = sns.countplot(df.CLASIFFICATION_FINAL)
for bars in ax.containers:
  ax.bar_label(bars)
plt.title("Count of covid and not covid", fontsize=25)

AttributeError: ignored

ImportError: ignored

In [15]:
#Split month and year in die date
df['MONTH'] = df.DATE_DIED.str.split("/" , expand=True)[1]
df['YEAR'] = df.DATE_DIED.str.split("/" , expand=True)[2]

In [16]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,...,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,MONTH,YEAR
0,2,1,1,1,03/05/2020,1,65,2,2,2,...,2,1,2,2,2,2,2,1,05,2020
1,2,1,2,1,03/06/2020,1,72,2,2,2,...,2,1,2,2,1,1,2,2,06,2020
2,2,1,2,2,09/06/2020,2,55,2,1,2,...,2,2,2,2,2,2,2,1,06,2020
3,2,1,1,1,12/06/2020,2,53,2,2,2,...,2,2,2,2,2,2,2,2,06,2020
4,2,1,2,1,21/06/2020,2,68,2,1,2,...,2,1,2,2,2,2,2,1,06,2020

In [ ]:
plt.figure(figsize = (10,8))
ax = sns.countplot(x = "YEAR", hue = "PATIENT_TYPE", data = df)
for bars in ax.containers:
    ax.bar_label(bars)
plt.title("Dead numbers of covid by year", fontsize = 25)

In [ ]:
plt.figure(figsize = (8,5))
ax = sns.countplot(x = "MONTH", hue = "PATIENT_TYPE", data = df)
for bars in ax.containers:
    ax.bar_label(bars)
plt.title("Dead numbers of covid by month", fontsize = 20)

In [17]:
df.drop(["MONTH", "YEAR"], axis = 1, inplace = True)
df["CLASIFFICATION_FINAL"] = df["CLASIFFICATION_FINAL"] - 1
df.drop(["DATE_DIED"], axis = 1, inplace = True)
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,2,1,1,1,1,65,2,2,2,2,2,1,2,2,2,2,2,0
1,2,1,2,1,1,72,2,2,2,2,2,1,2,2,1,1,2,1
2,2,1,2,2,2,55,2,1,2,2,2,2,2,2,2,2,2,0
3,2,1,1,1,2,53,2,2,2,2,2,2,2,2,2,2,2,1
4,2,1,2,1,2,68,2,1,2,2,2,1,2,2,2,2,2,0

In [18]:
df.CLASIFFICATION_FINAL.value_counts()

1    636274
0    388878
Name: CLASIFFICATION_FINAL, dtype: int64

#XGBOOST MODEL

In [19]:
x = df.drop("CLASIFFICATION_FINAL", axis = 1)
y = df["CLASIFFICATION_FINAL"]

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [21]:
from xgboost import XGBClassifier
xgb = XGBClassifier(
 learning_rate =0.1,
 n_estimators=1000,
 max_depth=9,
 min_child_weight=7,
 gamma=0.1,
 subsample=1,
 colsample_bytree=0.4,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1,
 seed=27)

xgb.fit(x_train, y_train)

pred = xgb.predict(x_test)

In [ ]:
"""
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV 
from sklearn.model_selection import RandomizedSearchCV 
xgb = XGBClassifier()
params = {
 "learning_rate": [0.1, 0.01, 0.05],
 "max_depth" : range(2, 10, 1),
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma": [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ],
 "subsample": [0.75, 1]
}
rs_model= RandomizedSearchCV(xgb,
    param_distributions=params,
    n_iter = 5,
    scoring = 'roc_auc',
    n_jobs = -1,
    cv = 5,
    verbose=3)
rs_model.fit(x_train, y_train)

In [ ]:
#rs_model.best_params_

In [31]:
from sklearn.metrics import accuracy_score, roc_curve, roc_auc_score, confusion_matrix, classification_report, plot_confusion_matrix, precision_score, recall_score, f1_score
accuracy_score(pred, y_test)
roc_auc_score(pred, y_test)

print("XGB Model's Accuracy is "+str(accuracy_score(pred, y_test)))
print("XGB Model's AUC score is "+str(roc_auc_score(pred, y_test)))

XGB Model's Accuracy is 0.6644632022526712
XGB Model's AUC score is 0.6530903053845056

In [33]:
from sklearn.metrics import ConfusionMatrixDisplay

disp = ConfusionMatrixDisplay(confusion_matrix(pred, y_test))
disp = disp.plot()

ImportError: ignored

In [25]:
print(classification_report(pred, y_test))

              precision    recall  f1-score   support

           0       0.27      0.64      0.38     50118
           1       0.90      0.67      0.77    257428

    accuracy                           0.66    307546
   macro avg       0.59      0.65      0.58    307546
weighted avg       0.80      0.66      0.71    307546

In [32]:
print('Precision: %.3f' % precision_score(pred, y_test))
print('F1-score: %.3f' % f1_score(pred, y_test))

Precision: 0.904
F1-score: 0.770